@import "tailwindcss";

@font-face {
  font-family: "IntegralCF";
  font-weight: 700;
  src: url("/assets/fonts/integral-cf/Fontspring-DEMO-integralcf-bold.otf");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  src: url("/assets/fonts/satoshi/Satoshi-Regular.otf");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 500;
  src: url("/assets/fonts/satoshi/Satoshi-Regular.otf");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 700;
  src: url("/assets/fonts/satoshi/Satoshi-Bold.otf");
}

* {
  font-family: "Satoshi", sans-serif;
}

.font-integral {
  font-family: "IntegralCF", "sans-serif";
}

@theme {
  --color-custom-gray: #f0f0f0;
  --color-custom-red: #ff3333;
}

.footer-icon:hover svg {
  fill: white !important;
}

.payment-company-images {
  box-shadow: 0px 0.45px 4.48px 0px #b7b7b714;
  box-shadow: 0px 4.48px 8.96px 0px #b7b7b714;
}

.footer-custom-bg{
  background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(240,240,240,1) 15%);
}